*.exe
*.pdb
*.log
*.manifest
*.cache
*.Cache
*.suo
*.Resources

packages/*
AdvancedMogreFramework/obj/*
AdvancedMogreFramework/bin/Debug/*
AdvancedMogreFramework/bin/Release/*.pdb
AdvancedMogreFramework/bin/Release/*.exe